@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bg {
  background-color: #15141a; /* Dark background color */
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 20px 20px; /* Adjust the grid size here */
  position: relative;
  animation: backgroundShift 10s linear infinite; /* Add animation */
}

.custom-bg::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), transparent);
  z-index: 1;
}

@keyframes backgroundShift {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}
